body ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: 0 0
}
@media (min-width: 1024px) {
    body ::-webkit-scrollbar {
        width: 8px;
        height: 8px
    }
}
body ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2)
}
.body {
    width: 1000px;
    height: 850px;
    /*padding: 20px 20px 20px 15px;*/
}
.main_panel_cover {
    background: linear-gradient(to bottom right, #aabfb1, #a2a5a2);
    opacity: 0.5;
    /*filter: blur(2px);*/
    position: absolute;
    width: 980px;
    height: 840px;
    z-index: 500;
}
.main_panel {
    margin: 10px 10px 5px 15px;
    height: 800px;
    width: 950px;
    position: relative;
    z-index: 600;
}
.version-list-cover {
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fcfcfc;
    opacity: 0.91;
    height: 680px;
}
.all-version-list-cover {
    height: 619px;
    margin-top: 14px;
}
.launch-panel-cover {
    background-color: #fcfcfc;
    border-radius: 6px;
    height: 680px;
}
#mainTabListContent {
    height: 690px;
}
.windows-bar {
    width: 980px;
    height: 18px;
    font-size: 4px;
    padding-left: 14px;
    line-height: 17px;
    background-color: #EBE9EA;;
    position: relative;
    z-index: 1000;
    opacity: 0.2;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    transition: all 0.1s ease-in-out;
}
.windows-bar:hover {
    opacity: 0.8;
}
.spinner-grow-sm {
    width: 1rem;
    height: 1rem;
}
.main-nav {
    border-radius: 3px;
}
#window-maximize {
    line-height: calc(100% - 1px);
    font-size: 13px;
    cursor:not-allowed;
}
#window-minimize {
    line-height: calc(100% - 0px);
    font-size: 13px;
}
.windows-bar div div {
    margin-top: 1px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: inline-block;
    transition: 0.3s;
}
.windows-bar div div:hover {
    background-color: #bcbcbc;
}
.window-btn{
    color: #202020;
    text-decoration: none;
    font-size: 15px;
    line-height: calc(100% - 1px);
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.window-btn:hover {
    color: #ffffff;
}
.mc-icon {
    width: 55px;
    height: 55px;
}